
:root {
    --rojo: #e50914;
    --blanco: white;
    --gris: #303030;
    --gris-f: #757575;
    --tipo-principal:"Playfair Display", serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

img , figure {
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}


p a {
    display: inline;
}

li {
    list-style-type: none;
}

table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}

form, button, input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    display: flex;
    color: inherit;
}

body {
    font-family: "Playfair Display";
    font-size: 100%;
    min-height: 100vh;
}

.circulos{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #edafb8;
    z-index: 1;
    filter: blur(50px);
    animation: circulo1 50s linear infinite both;

}
.circulos .circulo{
    position: absolute;
    width: 50%;
    height: 50%;
    animation: circulo1 100s linear infinite both;
}

.circulos .circulo1{
    width: 10%;
    height: 15%;
    border-radius: 50%;
    background: radial-gradient(circle at 100%, #d5bdaf 1px, #d5bdaf);
    top: 0%;
    left: 0%;
}
.circulos .circulo2{
    width: 15%;
    height: 10%;
    border-radius: 50%;
    background: radial-gradient(circle at 100%, #e3d5ca 1px, #e3d5ca );
    top: 0%;
    right: 0%;
}

.circulos .circulo3{
    width: 15%;
    height: 10%;
    border-radius: 50%;
    background: radial-gradient(circle at 100%, #edede9 1px, #edede9 );
    bottom: 0%;
    left: 0%;
}

.circulos .circulo{
    width: 10%;
    left: 15%;
    border-radius: 50%;
    background: radial-gradient(circle at 100%, #d6ccc2 1px, #d6ccc2 );
    bottom: 0%;
    right: 0%;
}

.header{
    width: 100%;
    min-height: 5em;

    padding: 1em 2em;
    color: #303030;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.header .ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.header .li{
    margin: 0 1em;

}

.main{
    margin: 1em 0;
    text-align: center;
    position: relative;
    z-index: 2;
}

.seccion{
    width: 100%;
    min-height: 80vh;
    padding: 2em;
    color: black;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.seccion .info{
    font-size: 1.2em;
}
.seccion .ul{
    margin: 2em 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.seccion .ul .li{
    margin: 0 1em;
}
.seccion .ul .a{
    border-top: 2px solid rgba(0, 0, 0, .7);

    padding: 1em 1em 1em;
    font-weight: 600;

    transition: all .4s ease;

}
.seccion .ul .a:hover{
    color: white;
    background: black;
}
.seccion .h2{
    font-family: "Playfair Display";
    font-weight: 800;
    font-size: 5rem;
    line-height: 4rem;
    color: black;
}
.seccion .h3{
    font-family: "Playfair Display";
    font-size: 4.2rem;
}

.seccion .p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.seccion .grid{
    width: 90%;
    max-width: 40em;
    margin: 1em 0;

    display: grid;
    grid-template-columns: repeat( auto-fit , minmax( 15rem , 1fr));
    gap: 1em;
}
.seccion .article{
    width: 100%;
    min-height: 20vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
}
.seccion .a{}
.section .figure{    
    width: 100%;
}
.seccion .img{
    width: 100%;
}
.seccion .h4{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.4rem;
    font-family: "Playfair Display";

    opacity: 0;
    transform: translateZ(1) scale(1.2);
    transition: all .5s ease;
}
.seccion .article:hover .h4{
    opacity: 1;
    transform: translateZ(1) scale(1);
}
.works:hover{
    background: rgba(255, 255, 255, .2);
    border-bottom: 1px solid white;
}
.works .h2{
    margin: 0 0 1rem;
    color: black;
}

.about .h2{
    margin: 0 0 2rem;
}

.about .subtitle{
    font-size: 0.8rem;
    font-style: italic;
}

.about .p{
    max-width: 40rem;
    margin: 0 0 1rem;
    font-size: 1.1rem;
    text-align: left;
}
.about .rrss{
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.about .li{
    margin: 0 1em;
}
.about .svg{
    width: 3em;
    height: 3em;
}

.footer{
    padding: 2em 0;
    text-align: center;
    font-style: italic;
    color: #303030;
    position: relative;
    z-index: 2;
}
.footer .span{

}

@keyframes circulo1{
    from {
        transform: rotate(0deg) scale(3);
    }
    to {
        transform: rotate(360deg) scale(3);
    }
}
